
<div>
    <span>{{dreadnough.name}}:  </span> <button (click)="dreadnough.fire()">fire</button> <button (click)="dreadnough.fly()">fly</button> <button (click)="dreadnough.raiseShields()">raiseShield</button>
</div>
<div>
    <span>{{warhammer.name}}:   </span> <button (click)="warhammer.fire()">fire</button> <button (click)="warhammer.fly()">fly</button> <button (click)="warhammer.raiseShields()">raiseShield</button>
</div>
<div>
    <span>{{interceptor.name}}: </span> <button (click)="interceptor.fire()">fire</button> <button (click)="interceptor.fly()">fly</button> <button (click)="interceptor.raiseShields()">raiseShield</button>
</div>

